@media (min-width: 700px) {
    .about-me.card {
        height: 40%;
        margin-top: 7%;
    }
}

.card-header {
    font-family: 'Gemunu Libre', sans-serif;
}

.card-footer {
    font-family: 'Gemunu Libre', sans-serif;
}

a.contact-me {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

a.contact-me:hover {
    background-color: #17b06b;
    color: #000000;
}

.about-me.card {
    background: #000000;
    color: #17b06b;
    border-color: #17b06b;
    padding: 0;
}

.card-header {
    background: #193f1b;
}

.card-footer {
    background: #193f1b;
}

.resume-summary > p, .resume-summary ul, .social-description {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: larger;
}

.social-description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.resume-summary ul {
    list-style: none;
    padding: 0;
}

.resume-summary li {
    margin-bottom: 0.5rem;
}

.resume-summary a:not(.btn) {
    color: #20ce7d;
    text-decoration: underline;
}

.resume-summary a:not(.btn):hover {
    color: #17b06b;
    text-decoration: none;
}

.icon-nav {
    margin-right: 10px;
}
