@media (min-width: 700px) {
    .about-me.card {
        height: 40%;
        margin-top: 7%;
    }
}

.card-header {
    font-family: 'Gemunu Libre', sans-serif;
}

.card-footer {
    font-family: 'Gemunu Libre', sans-serif;
}

a.contact-me {
    font-family: 'Gemunu Libre', sans-serif;
}

.about-me.card {
    background: #000000;
    color: #17b06b;
    border-color: #17b06b;
    padding: 0;
}

.card-header {
    background: #193f1b;
}

.card-footer {
    background: #193f1b;
}

.resume-summary > p, .resume-summary ul, .social-description {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: larger;
}

.social-description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.resume-summary ul {
    list-style: none;
    padding: 0;
}

.resume-summary li {
    margin-bottom: 0.5rem;
}
