@media (min-width: 700px) {
    .contact-me-card.card {
        margin-top: 7%;
    }
}

.contact-me-card.card {
    background: #000000;
    color: #17b06b;
    border-color: #17b06b;
    padding: 0;
}

.contact-me-card .card-header {
    background: #1b4d1e;
    color: #20ce7d;
    font-weight: bold;
    font-family: 'Gemunu Libre', sans-serif;
}

.contact-me-card .card-footer {
    background: #1b4d1e;
    font-family: 'Gemunu Libre', sans-serif;
}

.contact-me-card .form-group label {
    font-family: 'Gemunu Libre', sans-serif;
    color: #20ce7d;
    display: block;
    text-align: left;
    margin-top: 1rem;
    font-weight: bold;
}

.contact-me-card .form-control {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #17b06b;
    color: #20ce7d;
    font-family: 'Gemunu Libre', sans-serif;
}

.contact-me-card .form-control::placeholder {
    color: #17b06b;
    opacity: 0.7;
}

.contact-me-card .form-control:focus {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #20ce7d;
    color: #20ce7d;
    box-shadow: 0 0 10px #17b06b;
}

.contact-me-card .btn-outline-success {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 2rem;
}

.contact-me-card .btn-outline-success:hover {
    background-color: #17b06b;
    color: #000000;
}
