@media (min-width: 1000px) {
  .navigation {
    padding-top: 2%;
  }
}

.navigation .btn.btn-pill {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav .btn.btn-pill {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation .btn.btn-pill:before {
  padding-right: 0px;
}

.navigation .btn.btn-success.btn-pill span {
  padding-left: 0px;
}

.navigation .btn.btn-pill:hover, .nav .btn.btn-pill:hover {
  background-color: #17b06b;
  color: #000000;
}

.icon-nav {
  margin-right: 10px;
}
